body {
    height: 100vh;

    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

nav {
    min-height: 5vh;

    .home-logo {
        width: 45px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .nav-item {
        text-decoration: none;
        color: white;
        margin-left: 1.2rem;
        padding-left: 10px;
        border-left: 2px solid rgba(255, 255, 255, 0.753);
        transition: transform 300ms;
    }

    .nav-item:hover {
        transform: scale(1.5);
        font-weight: bold;

    }
}

.home-main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    video {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        position: absolute;
        width: 100%;
        height: 70%;
        top: 0;
        color: white
    }
}

.profile-container {
    background: #E6E6E6;

    .btn-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .btn {
            font-size: .8em;
            margin: 2px;
            padding: 8px;
        }

    }
}


.auth-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ca3d9e, #21a9b0);
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        border: 1px solid rgba(87, 87, 87, 0.671);
    }

    .dynamic {
        background-color: #dbc54e
    }
}




.btn-teal {
    background-color: teal;
    border-color: teal;
    color: white;
}

.btn-teal:hover,
.btn-teal:focus {
    background-color: #008080;
    border-color: #008080;
    color: white;
}


.form-page {
    max-width: 450px;
    margin: auto;
}

.footer {
    background-color: #f8f9fa;
    /* Set the background color of the footer */
    padding: 20px 0;
    /* Add padding to the top and bottom of the footer */
}

.footer-row {
    justify-content: space-between;
    /* Evenly space the columns */
}

.footer-col {
    text-align: center;
    /* Center-align the content within the column */
}

.footer-link {
    text-decoration: none;
    /* Remove text decoration from the links */
    color: #333;
    /* Set the color of the links */
}

.footer-link:hover {
    color: white;
}

.teal-text {
    color: teal;
}

.single-post {
    width: 35%;
    margin: 1rem 0.25rem;
}

.home-feed-card {
    width: "20rem";
    cursor: pointer
}

.profile-card-post {
    cursor: pointer;
}




.home-feed-container {
    @media screen and (max-width: 992px) {
        padding: 0 7em;
    }

    padding: 0 14em;
}

.error {
    color: red;
    text-align: center;
    margin: 4em
}

.card-title {
    font-size: 1em;
    text-align: center;

}

.profile-nav {
    justify-content: right;
    padding-top: 1rem
}

.nav-item {
    text-decoration: none;
}

.like-button {
    background-color: white;
    border: none;
    padding: 0 0.25rem;

    &:hover {
        background-color: white;
    }

}

.follow-button {
    padding: 0.25em;
    background-color: white;
    border: none;
    font-style: italic;

    &:hover {
        background-color: white;
    }
}

.like-button-img {
    height: 20px;
}

.single-card-header {
    padding-right: 0px
}

.profile-pic {
    width: 50%;
    border-radius: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars-owned-title {
    text-align: center;
}

.profile-container {
    border: 1px solid #ccc;
    border-Radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3rem auto;

}

.user-card-text {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;

}

.user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer
}