$background: radial-gradient(#EE696B, #523A78);
$transparent: #00000048;
$secondary: #dbc54e;


body {
    height: 100vh;

    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

h3,
h4,
h5 {
    color: #e6e6e6
}

nav {
    min-height: 5vh;

    .home-logo {
        width: 45px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .nav-item {
        text-decoration: none;
        color: teal;
        margin-left: 1.2rem;
        padding-left: 10px;
        border-left: 2px solid rgba(0, 128, 128, 0.352);
        transition: transform 300ms;
    }

    .nav-item:hover {
        transform: scale(1);
        font-weight: bold;
    }
}

.home-main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    video {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        position: absolute;
        width: 100%;
        height: 70%;
        top: 0;
        color: white
    }
}


.profile-page {
    background: $background;

    .profile-container {
        background: $transparent;

        .btn-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .btn {
                font-size: .8em;
                margin: 2px;
                padding: 8px;
            }

        }
    }
}


.auth-container {
    width: 100%;
    height: 100%;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-page {

        background-color: $transparent;
        border-radius: 15px;
        padding: 5px 10px;

        .btn {
            border: 2px solid rgba(0, 0, 0, 0.258);
        }

        .dynamic {
            background-color: #dbc54e
        }
    }
}


.cars-owned {
    text-align: center;

    .add-car-btn {
        background-color: #008080;
    }
}


.single-post-div {
    background: $background;

    .single-post-container {
        background: $transparent;
        border-radius: 15px;
        padding: 20px 0;

        .single-post {
            width: 35%;
            margin: 1rem 0.25rem;
        }
    }

}


.btn-teal {
    background-color: teal;
    border-color: teal;
    color: white;
}

.btn-teal:hover,
.btn-teal:focus {
    background-color: #008080;
    border-color: #008080;
    color: white;
}


.form-page {
    max-width: 450px;
    margin: auto;
}

.footer {
    background-color: #f8f9fa;
    /* Set the background color of the footer */
    padding: 20px 0;
    /* Add padding to the top and bottom of the footer */
    background-color: #f8f9fa;
    /* Set the background color of the footer */
    padding: 20px 0;
    /* Add padding to the top and bottom of the footer */
}

.footer-row {
    justify-content: space-between;
    /* Evenly space the columns */
}

.footer-col {
    text-align: center;
    /* Center-align the content within the column */
}

.footer-link {
    text-decoration: none;
    /* Remove text decoration from the links */
    color: #333;
    /* Set the color of the links */
}

.footer-link:hover {
    color: white;
}


.teal-text {
    color: teal;
    transition: transform 300ms;
}


.teal-text:hover {
    transform: scale(1);
    font-weight: bold;
    color: teal;
}

.profile-card-post {
    cursor: pointer;

}

.add-post {
    border: none;
    background-color: teal;
    transition: transform 300ms;
}


.add-post:hover {
    background-color: #e6e6e6;
    color: teal;
    transform: scale(1);
    font-weight: bold;
}

.add-car {
    border: none;
    background-color: teal;
    transition: transform 300ms;
}

.add-car:hover {
    background-color: #e6e6e6;
    color: teal;
    transform: scale(1);
    font-weight: bold;
}

.homefeed {
    background: $background;
}

.home-feed-container {

    background: $transparent;
    border-radius: 15px;

    @media screen and (max-width: 992px) {
        padding: 0 7em;
    }

    padding: 1rem 14em;
    margin-top:2rem;
    margin-bottom: 4rem;
}

.error {
    color: red;
    text-align: center;
    margin: 4em
}

.card-title {
    font-size: 1em;
    text-align: center;
}

.profile-nav {
    justify-content: right;
    padding-top: 1rem
}

.profile-nav-item {
    text-decoration: none;
    color: teal;
    font-weight: bold;

    &:not(.active):hover {
        color: white;
    }

    &.active {
        color: white;
    }
}

.nav-item-profile {
    text-decoration: none;
    color: teal;
    font-weight: bold;

    &:hover {
        color: #e6e6e6;
    }

    &.active {
        color: #e6e6e6
    }

}

.like-button {
    background-color: white;
    border: none;
    padding: 0 0.25rem;

    &:hover {
        background-color: white;
    }
}

.follow-button {
    padding: 0.25em;
    background-color: teal;
    border: none;
    font-weight: bold;
    color: #e6e6e6;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 0.5em;
    margin: auto;

    &:hover {
        color: teal;
        background-color: #e6e6e6;

    }
}

.like-button-img {
    height: 20px;
}

.single-card-header {
    padding-right: 0px
}

.profile-pic {
    width: 50%;
    border-radius: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars-owned-title {
    text-align: center;
}

.profile-container {
    border: 1px solid #ccc;
    border-Radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3rem auto;

}

.user-card-text {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;

}

.user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.home-feed-card-img-hover {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    max-height: 85%;

}

.home-feed-card-img {
    height: 100%;
    width: 100%;
    max-height: 85%;

}


.post-title {
    font-size: 1rem;
    font-weight: bold;
}

.search-btn {
    background-color: teal;
    border-color: teal;
    color: #E6E6E6;
    font-weight: bold;

    &:hover {
        background-color: #E6E6E6;
        border-color: teal;

        color: teal;
    }
}

.search-list {
    width: 30%;
    margin: 0 auto;
}

.search-input {
    margin-right: 50%
}

.home-cards {
    cursor: pointer;
    height: 300px;
    width: 275px;
}